
.icon-news{background:url(/static/images/icons/news.png)  no-repeat;display: block;width: 50px;  height: 50px;}
.icon-more{background:url(/static/images/icons/add.png)  no-repeat;display: block;width: 50px;  height: 50px;}
.icon-mail{background:url(/static/images/icons/mail.png)  no-repeat;display: block;width: 50px;  height: 50px;}
.icon-notify{background:url(/static/images/icons/notify.png)  no-repeat;display: block;width: 50px;  height: 50px;}
.icon-schedule{background:url(/static/images/icons/schedule.png)  no-repeat;display: block;width: 50px;  height: 50px;}
.icon-manage{background:url(/static/images/icons/manage.png)  no-repeat;display: block;width: 50px;  height: 50px;}
.icon-user{background:url(/static/images/icons/user.png)  no-repeat;display: block;width: 50px;  height: 50px;}
.icon-home{background:url(/static/images/icons/home.png)  no-repeat;display: block;width: 50px;  height: 50px;}
.icon-work{background:url(/static/images/icons/work.png)  no-repeat;display: block;width: 50px;  height: 50px;}
.icon-succ{background:url(/static/images/icons/succ.png)  no-repeat;display: block;width: 50px;  height: 50px;}