/*-------------------------------------
zTree Style

version:	3.5.17
author:		Hunter.z
email:		hunter.z@263.net
website:	http://code.google.com/p/jquerytree/

-------------------------------------*/

.table {
    width: 100%;
    /*border: 1px solid red;*/
}

.tr1 {
    height: 40px;
    background-color: #dadfe3;
}

.tr2 {
    height: 17px;
    background-color: #DFE4E8;
}

.td {
    /*padding-top: 5px;*/
    padding-left: 7px;
}

.td1 {
    text-align: center;
    width: 60px;
}

.reTd {
    width: 40%;
    /*border: 1px solid red;*/
    padding-left: 25px;
}

.reTr {
    border-top: 2px solid #F5F5F5;
    height: 35px;
}

.reCheckbox {
    width: 20px;
}

.findTr {
    height: 25px;
    background-color: #EFF5FB;
    color: #ABAAAD;
}

.findAdjunct {
    height: 70px;
    border-bottom: 2px solid #E0ECF9;
    border-left: 2px solid #E0ECF9;
    border-right: 2px solid #E0ECF9
}

.findAd {
    background-color: #E0ECF9;
    border-left: 2px solid #E0ECF9;
    border-right: 2px solid #E0ECF9;
    font-weight: bold;
}

